{
  # config file version
    "config_version" : "1.0.0",
    
    "run_forever"   : false,
  # time interval in seconds the data to be fetched from energy meters
  # and published to onem2m server
    "read_interval" : 60,

  # publish to thingspeak
    "pub_thingspeak": false,

  # onem2m configuration
    "onem2m"        : {
        "cse_ip"  : "dev-onem2m@iiit.ac.in",
        "cse_port": "443",
        "https"   : false,
      # verify server certificate flag: default is true.
      # however, the dev server certificate is invalid and hence if running for
      # dev server, uncomment the following
        "verify"  : true,

        "mn"      : "/~/in-cse/in-name/",
        
        "ae"      : "AE-SR/SR-EM",
        "data_cnt": "Data",
        "null"    : "nan"
    },

  # thingspeak configurations
    "thingspeak"    : {
    },

    "modbus"        : {
      # "port"    : "/dev/ttyUSB0",       # if on linux
        "port"    : "COM3",                 # if on win
        "baudrate": 19200,
        "bytesize": 8,
        "parity"  : "E",        # refer serialutil.py 'N', 'E', 'O', 'M', 'S'
        "stopbits": 1,
        "timeout" : 2.0,
        "mode"    : "rtu",      # refer minimalmodbus.py "rtu", "ascii"
      # cbbet: clear_buffers_before_each_transaction
        "cbbet"   : true,
      # cpaec: close_port_after_each_call
        "cpaec"   : true,
        "fn_code" : 3,
    },
    "nodes"         : {
        node_0: {
          # Monitor Kohli Daikin HVAC electrical energy
          # Schneider energy meter EM6433
            "src_name"    : "1",            # modbus device address
            "om2m_sub_cnt": "SR-EM-KH04-00",
            "label"       : [
                    "AE-SR-EM",
                    "SR-EM-KH04-00",
                    "V1.0.0",
                    "SR-EM-V1.0.0",
            ],

            "modbus"      : {
              # BYTEORDER_LITTLE_SWAP, refer minimalmodbus.py
                "byte_order": 3,

              # register number -1
                "reg"       : {
                    "Energy"     : 3960,    # FwdWh Forward Active Energy (Wh)
                    "Power"      : 3902,    # Active Power Total (W)
                    "Voltage"    : null,    # VLN line to neutral voltage (V)
                    "Current"    : 3912,    # Avg current (A)
                    "Frequency"  : null,    # Frequency (Hz)
                    "PowerFactor": null     # Avg power factor
                },
              # uncomment to use node level fn code
              # "fn_code"        : 3,
            },
            "inactive"    : [
                    "sensor_3",
                    "sensor_5",
                    "sensor_6",
            ],
        },

        node_1: {
          # Monitor Kohli Daikin HVAC electrical energy
          # for Ground Floor Wing 1 ODUs  (outdoor units)
          # Elmeasure energy meter EN8400 LN
            "src_name"    : "2",            # modbus device address
            "om2m_sub_cnt": "SR-EM-KH04-01",
            "label"       : [
                    "AE-SR-EM",
                    "SR-EM-KH04-01",
                    "V2.0.0",
                    "SR-EM-V2.0.0"
            ],

            "modbus"      : {
              # BYTEORDER_LITTLE_SWAP, refer minimalmodbus.py
                "byte_order": 3,

              # register number -1
                "reg"       : {
                    "Energy"     : 158,    # Wh received (Wh)
                    "Power"      : 100,    # Watts Total (W)
                    "Voltage"    : 140,    # VLN average (V)
                    "Current"    : 148,    # Current Total (A)
                    "Frequency"  : 156,    # Frequency (Hz)
                    "PowerFactor": 116     # PF Ave
                },
              # uncomment to use node level fn code
              # "fn_code"        : 3,
            },
            "inactive"    : [
            ],
        },

        node_2: {
          # Monitor Kohli Daikin HVAC electrical energy
          # for Third Floor Wing 4 ODUs (outdoor units)
          # Elmeasure energy meter EN8400 LN
            "src_name"    : "3",            # modbus device address
            "om2m_sub_cnt": "SR-EM-KH04-02",
            "label"       : [
                    "AE-SR-EM",
                    "SR-EM-KH04-02",
                    "V2.0.0",
                    "SR-EM-V2.0.0",
            ],

            "modbus"      : {
              # BYTEORDER_LITTLE_SWAP, refer minimalmodbus.py
                "byte_order": 3,

              # register number -1
                "reg"       : {
                    "Energy"     : 158,    # Wh received (Wh)
                    "Power"      : 100,    # Watts Total (W)
                    "Voltage"    : 140,    # VLN average (V)
                    "Current"    : 148,    # Current Total (A)
                    "Frequency"  : 156,    # Frequency (Hz)
                    "PowerFactor": 116     # PF Ave
                },
              # uncomment to use node level fn code
              # "fn_code"        : 3,
            },
            "inactive"    : [
            ],
        },

    },
    "sensors"       : {
        "sensor_0": { # sensor id
            "src_name": "Time Stamp",       # sensor src id
            "om2m_cnt": "Time Stamp",  # sensor onem2m id
            "flag"    : true,
            "mround"  : 60
        },
        "sensor_1": {
            "src_name" : "Energy",
            "om2m_cnt" : "Energy",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "float",
            "fn_code"  : 3
        },
        "sensor_2": {
            "src_name" : "Power",
            "om2m_cnt" : "Power",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "float",
            "fn_code"  : 3
        },
        "sensor_3": {
            "src_name" : "Voltage",     # VLN average
            "om2m_cnt" : "Voltage",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "float",
            "fn_code"  : 3
        },
        "sensor_4": {
            "src_name" : "Current",
            "om2m_cnt" : "Current",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "float",
            "fn_code"  : 3
        },
        "sensor_5": {
            "src_name" : "Frequency",
            "om2m_cnt" : "Frequency",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "float",
            "fn_code"  : 3
        },
        "sensor_6": {
            "src_name" : "PowerFactor",
            "om2m_cnt" : "PowerFactor",
            "flag"     : true,
            "mround"   : 0.01,
            "data_type": "float",
            "fn_code"  : 3
        }

    }
}
